h1{
    font-family: "Pacifico",cursive;
    font-size: 3em;
    color:#7bb8bc;
}

#signup_button{
    font-size:small;
/*     font-family: "Pacifico",cursive; */
}

#container.confirm{
    background-color:#ddd;
    border-color:#7BB8BC;
}

#container.confirm input[type="text"]{
    background-color:#eee;
    color:#555;
}

#container.confirm input[type="text"]:focus{
    border-color: #7BB8BC;
    
}