#container.directory{
    padding:0px;
}
#directory{
/*     width:100%; */
}
#list{
    background:#777;
    width:800px;
    padding:20px;
    border-top:#888 solid 1px;
}

#directory .avatar{
    border-radius:5px;
}

#directory td{
    padding: 2px;
}

#directory .user{
    height:150px;
}

#username{
    font-family:'Pacifico',cursive;
    font-size:5em;
    color:#ddd;
    margin-top:-25px;
}

#realname{
    font-size:2em;
    color:#333;
    font-weight:bold;
    margin-top:-20px;
}

#user_data{
    display:inline-block;
    margin-left:30px;
    vertical-align:top;
}

#contact-sheet{
    width:840px;
    margin:30px;
    color:#999;
    font-size:smaller;
}

#contact-sheet td{
    margin:auto;
    height:250px;
    width:250px;    
    vertical-align:top;
/*     text-align: center; */
    padding-bottom:80px;
}
.info h3{
    font-size:small;
    color:#aaa;
    padding-bottom: 10px;
}

.info{
/*     text-align:left; */
}
.thumb{
    margin:15px;
    border-radius: 2px;
    box-shadow: 3px 3px 5px #444;
}

.thumb:hover{
    margin:14px;
    box-shadow: 0px 0px 5px #fff;
    border: #fff 1px solid;
}

.user{}

.username{
    font-size: x-large;
    color:#ccc;
}

.realname{
    font-size: large;
    font-weight: bold;
    text-shadow: 0 1px #888;    
}

.info{
    margin-left:20px;
}

#container h1.pacifico{
    font-size: 5em;
    color:#333;
/*     font-style: oblique; */
    text-shadow: 0 1px #888;
    margin-top: -15px;
    margin-left:20px;
}